<!-- Accessing Value -->
<!-- <h1>{{title}}</h1> -->

<mat-card>
  <!-- <form #entryForm="ngForm" fxLayout="column row">


  </form> -->
  <div fxLayout="column row">
    <mat-form-field>
      <img style="width:30px;height:30px;" src="../../assets/one.ico" alt="" srcset="">
      <input type="text" name="name" ngModel matInput color="accent">
    </mat-form-field>

    <!-- <mat-form-field>
      <img style="width:30px;height:30px;" src="../../assets/four.ico" alt="" srcset="">
      <input type="text" name="name" ngModel matInput color="accent">
    </mat-form-field>

    <mat-form-field>
      <img style="width:30px;height:30px;" src="../../assets/three.ico" alt="" srcset="">
      <input type="text" name="name" ngModel matInput color="accent">
    </mat-form-field> -->
  </div>

</mat-card>